.date-picker{
    display:flex;
    flex-direction:column;
}

.date-picker-options{
    display:flex;
    align-items:flex-end;
    justify-content: flex-start;
    gap:10px;
}

.date-picker-form{
    display:flex;
    align-items: flex-end;
}


.date-picker-form-item{
    position:relative;
  }
  
  .date-picker-form-item input{
    position: absolute;
    bottom:0;
    left:0;
    width:0px;
    height: 0px;
    border:0;
  }
  
  .date-picker-form-item-placeholder{
    background-color: rgb(94, 177, 255);
    padding:5px 10px;
    border-radius:10px;
    color:white;
    font-weight:600;
    margin-right:5px;
    cursor:pointer;
    min-height:37.6px;
  }